h1, h2, h3, {
  font-family: 'Corben', Georgia, Times, serif;
  text-align: center;
}

p, div, h3, {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  text-align: justify;
}

h1 {
  text-align: center;
}

h1 {
  background-color: teal;
}

#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navcontainer a {
  display: block;
  color: black;
  background-color: turquoise;
  width: 7em;
  padding: 3px 12px 3px 9px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  float: right
}

#navcontainer li li a {
  display: block;
  color: black;
  background-color: teal;
  width: 7em;
  padding: 3px 3px 3px 13px;
  border-bottom: 1px solid #fff;
  font-weight: normal;
  float: right
}

body {
background-image: url("../images/work.jpeg");
}
